@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400&family=Roboto:wght@400&display=swap");
body {
  font-family: "Montserrat", "sans-serif";
  color: #000000;
}

header {
  background-image: url("../../img/wall.jpg");
  background-size: cover;
  color: #FFFFFF;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

.alert-enter {
  overflow: hidden;
  transform: translateY(-40%);
}

.alert-enter-active {
  transform: translateY(0%);
  transition: all 500ms ease;
}

.alert-exit-active {
  transform: translateY(100%);
  transition: all 500ms ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: snow;
}

.header__wrapper {
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.nav__menu, .nav__contact, .nav__logo {
  display: flex;
}
.nav__link {
  color: #FFFFFF;
  transition: all 250ms ease-in-out;
}
.nav__link:hover {
  color: #002EFF;
}
.nav__link--vertical-line {
  border-left: 1px solid #FFFFFF;
  padding-left: 1rem;
  margin-left: 1rem;
}
.nav__logo {
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.nav__logo-img {
  width: 40px;
  height: 40px;
}
.nav__divider {
  height: 4px;
  border: none;
  background-color: white;
}

.header__slogan {
  padding: 2rem;
  max-width: 600px;
  font-size: 42px;
  font-weight: 600;
  line-height: 48px;
}

.studio-block {
  padding: 2rem;
  margin-bottom: 4rem;
}
.studio-block__cta-links {
  margin-bottom: 2rem;
}
.studio-block__cta-links a {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  transition: all 250ms ease-in-out;
}
.studio-block__cta-links a:hover {
  color: #002EFF;
}
.studio-block__cta-links a:first-child {
  margin-right: 1rem;
}
.studio-block__divider {
  height: 4px;
  border: none;
  background-color: black;
}
.studio-block__wrapper {
  display: flex;
}
.studio-block__wrapper article {
  min-height: 36rem;
}

.studio-info {
  padding: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
}
.studio-info__title {
  max-width: 22rem;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.studio-info__link {
  color: #002EFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  transition: all 250ms ease-in-out;
}
.studio-info__link:hover {
  color: #000000;
}
.studio-info__image {
  align-self: end;
  width: 8rem;
}
.studio-info__image:hover {
  -webkit-animation: horizontal-shaking 250ms ease-in-out;
  -o-animation: horizontal-shaking 250ms ease-in-out;
  animation: horizontal-shaking 250ms ease-in-out;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(1px);
  }
  50% {
    transform: translateX(-1px);
  }
  75% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.services {
  padding: 2rem 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
}
.services--vertical-line {
  border-left: 1px solid #000000;
}
.services__list {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.services__item {
  transition: all 250ms ease-in-out;
}
.services__item:hover {
  transform: translateX(0.5rem);
}
.services__description {
  max-width: 30rem;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.services__cta-link {
  color: #002EFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  transition: all 250ms ease-in-out;
}
.services__cta-link:hover {
  color: #000000;
}

.case-slider {
  overflow: hidden;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  margin-bottom: 4rem;
  padding-bottom: 5%;
}

.case-slider__wrapper {
  display: flex;
  transition: transform 500ms ease;
}

.slide {
  min-width: 100%;
}
.slide__content {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 6rem;
}
.slide__content h2 {
  max-width: 24rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}
.slide__content h2 span {
  font-size: 32px;
  line-height: 36px;
  text-decoration: underline;
}

.slide-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1400px;
  background-color: #FFFFFF;
  margin: 0 auto;
  box-sizing: border-box;
  height: 33.33%;
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06));
}
.slide-text__client {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 2rem;
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.slide-text__client-name {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.slide-text__client-link {
  color: #000000;
  font-size: 82px;
  font-weight: 600;
  letter-spacing: 6.613px;
  text-transform: uppercase;
  min-width: 50%;
  margin: 0 auto;
  text-align: center;
  transition: all 250ms ease-in-out;
}
.slide-text__client-link:hover {
  color: #002EFF;
}
.slide-text__other-works {
  color: #002EFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 36px;
  transition: all 250ms ease-in-out;
}
.slide-text__other-works:hover {
  color: #000000;
}
.slide-text__divider {
  height: 2px;
  border: none;
  background-color: black;
}
.slide-text__stats-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  opacity: 1;
  transition: opacity 300ms ease-out;
}
.slide-text__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  min-width: 50%;
}
.slide-text__stats:first-child {
  border-right: 1px solid #000000;
}
.slide-text__stats-value {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 2rem;
}
.slide-text__stats-description {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  max-width: 14rem;
}

.news-slider {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: #000;
  color: #FFFFFF;
  margin-bottom: 4rem;
}
.news-slider__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-slider__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  min-width: 50%;
  max-width: 20rem;
}
.news-slider__viewport {
  overflow: hidden;
  padding: 2rem 0;
  width: 100%;
}
.news-slider__items {
  display: flex;
  gap: 2rem;
  width: 200%;
  transition: transform 500ms ease;
}
.news-slider__item {
  width: 50%;
  display: flex;
  gap: 4rem;
  box-sizing: border-box;
}
.news-slider__item-image {
  min-width: 50%;
  background-color: #fff;
}
.news-slider__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}
.news-slider__item-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 1rem 0;
}
.news-slider__item-link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  transition: all 250ms ease-in-out;
}
.news-slider__item-link:hover {
  color: #002EFF;
}
.news-slider__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.news-slider__author-avatar {
  border-radius: 100%;
  background-color: #fff;
  height: 50px;
  width: 50px;
}
.news-slider__author-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.news-slider__author-name {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}
.news-slider__author-views {
  color: #002EFF;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.news-slider__author-views img {
  height: 1rem;
}
.news-slider__show-all {
  width: fit-content;
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  transition: all 250ms ease-in-out;
}
.news-slider__show-all:hover {
  color: #002EFF;
}

.contact-block {
  margin-bottom: 4rem;
}
.contact-block__divider {
  height: 4px;
  border: none;
  background-color: #002EFF;
}
.contact-block__content {
  display: flex;
  justify-content: space-between;
  height: 24rem;
}
.contact-block__description {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  padding: 2rem 1rem 2rem 0;
  border-right: 1px solid #002EFF;
}
.contact-block__title {
  font-size: 32px;
  font-weight: 600;
  max-width: 20rem;
}
.contact-block__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-block__link {
  color: #002EFF;
  font-size: 20px;
  font-weight: 600;
}
.contact-block__link--email {
  transition: color 250ms ease-in-out;
}
.contact-block__link--email:hover {
  color: #000000;
}
.contact-block__link--telegram {
  transition: color 250ms ease-in-out;
  padding-bottom: 4rem;
}
.contact-block__link--telegram:hover {
  color: #000000;
}
.contact-block__brief {
  background-color: #002EFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  max-width: 16rem;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 600;
  transition: all 250ms ease-in-out;
}
.contact-block__brief:hover {
  background-color: transparent;
  color: #002EFF;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  max-width: 1400px;
  margin: 0 auto;
}
.footer__brand, .footer__socials, .footer__contact {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__logo {
  width: 2rem;
}
.footer__address {
  max-width: 8rem;
}
.footer__socials-list {
  display: flex;
  gap: 1rem;
}
.footer__socials-item, .footer__phone {
  border-left: 2px solid #000000;
  padding-left: 1rem;
  color: #000000;
}
.footer__socials-item:first-child, .footer__phone:first-child {
  border: none;
}
.footer__socials-link, .footer__email, .footer__phone {
  color: #000000;
  transition: all 250ms ease-in-out;
}
.footer__socials-link:hover, .footer__email:hover, .footer__phone:hover {
  color: #002EFF;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.prev-slide, .next-slide {
  position: absolute;
  top: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
  z-index: 10;
  padding: 5px 10px;
  transition: all 250ms ease-in-out;
}

.prev-slide {
  right: 100px;
  transform: rotate(180deg);
}
.prev-slide:hover {
  transform: rotate(180deg) translateX(0.5rem);
}

.next-slide {
  right: 10px;
}
.next-slide:hover {
  transform: translateX(0.5rem);
}

/*# sourceMappingURL=main.css.map */
