@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400&family=Roboto:wght@400&display=swap');

//Variables
$color-primary: #002EFF;
$color-secondary: #FFFFFF;
$color-tertiary: #000000;
$divider-color-primary: black;
$divider-color-secondary: white;
$divider-color-tertiary: #002EFF;

$font-primary: "Montserrat", "sans-serif";
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$transition-ease: 250ms ease-in-out;

// Mixins
@mixin container {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin divider($height: 4px, $bgc: $divider-color-primary) {
  height: $height;
  border: none;
  background-color: $bgc;
}

@mixin transition($property: all, $speed: $transition-ease) {
  transition: $property $speed;
}

@mixin hoverTransition($property: all, $color: $color-primary) {
  transition: $property $transition-ease;

  &:hover {
    color: $color;
  }
}

// Base Styles
body {
  font-family: $font-primary;
  color: $color-tertiary;
}

// Header Styles
header {
  background-image: url("../../img/wall.jpg");
  background-size: cover;
  color: $color-secondary;
}

.header__wrapper {
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include container;
}

.nav {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  &__menu,
  &__contact,
  &__logo {
    display: flex;
  }

  &__link {
    color: $color-secondary;
    @include hoverTransition;

    &--vertical-line {
      border-left: 1px solid $color-secondary;
      padding-left: 1rem;
      margin-left: 1rem;
    }
  }

  &__logo {
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    &-img {
      width: 40px;
      height: 40px;
    }

    &-text {}
  }

  &__divider {
    @include divider(4px, $divider-color-secondary);
  }
}

.header__slogan {
  padding: 2rem;
  max-width: 600px;
  font-size: 42px;
  font-weight: $font-weight-bold;
  line-height: 48px;
}

//Main styles
main {
  @include container;
}

//Studio styles
.studio-block {
  padding: 2rem;
  margin-bottom: 4rem;

  &__cta-links {
    margin-bottom: 2rem;

    a {
      color: $color-tertiary;
      font-size: 20px;
      font-weight: $font-weight-bold;
      line-height: 28px;
      @include hoverTransition();

      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__divider {
    @include divider(4px, $divider-color-primary);
  }

  &__wrapper {
    display: flex;

    article {
      min-height: 36rem;
    }
  }
}

.studio-info {
  padding: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;

  &__title {
    max-width: 22rem;
    font-size: 32px;
    font-weight: $font-weight-bold;
    line-height: 40px;
  }

  &__link {
    color: $color-primary;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 36px;
    @include hoverTransition(all, $color-tertiary);
  }

  &__image {
    align-self: end;
    width: 8rem;

    &:hover {
      -webkit-animation: horizontal-shaking $transition-ease;
      -o-animation: horizontal-shaking $transition-ease;
      animation: horizontal-shaking $transition-ease;
    }
  }
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.services {
  padding: 2rem 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;

  &--vertical-line {
    border-left: 1px solid $color-tertiary;
  }

  &__list {
    font-size: 20px;
    font-weight: $font-weight-bold;
    line-height: 28px;
  }

  &__item {
    @include transition;

    &:hover {
      transform: translateX(0.5rem);
    }
  }

  &__description {
    max-width: 30rem;
    font-size: 32px;
    font-weight: $font-weight-bold;
    line-height: 40px;
  }

  &__cta-link {
    color: $color-primary;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 36px;
    @include hoverTransition(all, $color-tertiary);
  }
}

//Cases styles
.case-slider {
  overflow: hidden;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  margin-bottom: 4rem;
  padding-bottom: 5%;
}

.case-slider__wrapper {
  display: flex;
  @include transition(transform, 500ms ease);
}

.slide {
  min-width: 100%;

  &__content {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 6rem;

    h2 {
      max-width: 24rem;
      font-size: 24px;
      font-style: normal;
      font-weight: $font-weight-bold;
      line-height: 32px;

      span {
        font-size: 32px;
        line-height: 36px;
        text-decoration: underline;
      }
    }
  }
}

.slide-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1400px;
  background-color: $color-secondary;
  margin: 0 auto;
  box-sizing: border-box;
  height: 33.33%;
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

  &__client {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 2rem;
    opacity: 1;
    @include transition(opacity, 300ms ease-out);
  }

  &__client-name {
    font-size: 20px;
    font-weight: $font-weight-bold;
    line-height: 28px;
  }

  &__client-link {
    color: $color-tertiary;
    font-size: 82px;
    font-weight: $font-weight-bold;
    letter-spacing: 6.613px;
    text-transform: uppercase;
    min-width: 50%;
    margin: 0 auto;
    text-align: center;
    @include hoverTransition();
  }

  &__other-works {
    color: $color-primary;
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 36px;
    @include hoverTransition(all, $color-tertiary);
  }

  &__divider {
    @include divider(2px, $divider-color-primary);
  }

  &__stats-wrapper {
    @include flexCenter;
    padding: 0 2rem;
    opacity: 1;
    @include transition(opacity, 300ms ease-out);
  }

  &__stats {
    @include flexCenter;
    padding: 2rem 0;
    min-width: 50%;

    &:first-child {
      border-right: 1px solid $color-tertiary;
    }
  }

  &__stats-value {
    font-size: 42px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    margin-right: 2rem;
  }

  &__stats-description {
    font-size: 14px;
    font-weight: $font-weight-bold;
    line-height: 20px;
    max-width: 14rem;
  }
}

//News styles
.news-slider {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: #000;
  color: $color-secondary;
  margin-bottom: 4rem;

  &__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-size: 32px;
    font-weight: $font-weight-bold;
    line-height: 40px;
    min-width: 50%;
    max-width: 20rem;
  }

  &__viewport {
    overflow: hidden;
    padding: 2rem 0;
    width: 100%;
  }

  &__items {
    display: flex;
    gap: 2rem;
    width: 200%;
    @include transition(transform, 500ms ease);
  }

  &__item {
    width: 50%;
    display: flex;
    gap: 4rem;
    box-sizing: border-box;

    &-image {
      min-width: 50%;
      background-color: #fff;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 0;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-weight-bold;
      line-height: 28px;
      padding: 1rem 0;
    }

    &-link {
      color: $color-secondary;
      font-size: 14px;
      font-weight: $font-weight-bold;
      line-height: 20px;
      @include hoverTransition();
    }
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-avatar {
      border-radius: 100%;
      background-color: #fff;
      height: 50px;
      width: 50px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-name {
      font-size: 14px;
      font-style: normal;
      font-weight: $font-weight-bold;
    }

    &-views {
      color: $color-primary;
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        height: 1rem;
      }
    }
  }

  &__show-all {
    width: fit-content;
    color: $color-secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: $font-weight-bold;
    line-height: 36px;
    @include hoverTransition();
  }
}

//Utility styles
.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.prev-slide, .next-slide {
  position: absolute;
  top: 60px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 10px;
  z-index: 10;
  padding: 5px 10px;
  @include transition;
}

.prev-slide {
  right: 100px;
  transform: rotate(180deg);

  &:hover {
    transform: rotate(180deg) translateX(0.5rem);
  }
}

.next-slide {
  right: 10px;

  &:hover {
    transform: translateX(0.5rem);
  }
}

.contact-block {
  margin-bottom: 4rem;

  &__divider {
    @include divider(4px, $divider-color-tertiary);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    height: 24rem;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    min-width: 50%;
    padding: 2rem 1rem 2rem 0;
    border-right: 1px solid $color-primary;
  }

  &__title {
    font-size: 32px;
    font-weight: $font-weight-bold;
    max-width: 20rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link {
    color: $color-primary;
    font-size: 20px;
    font-weight: $font-weight-bold;

    &--email {
      @include hoverTransition(color, $color-tertiary);
    }

    &--telegram {
      @include hoverTransition(color, $color-tertiary);
      padding-bottom: 4rem;
    }
  }

  &__brief {
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    max-width: 16rem;
    color: $color-secondary;
    font-size: 32px;
    font-weight: $font-weight-bold;

    @include transition();

    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }
}
