@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400&family=Roboto:wght@400&display=swap');

$font-primary: "Montserrat", "sans-serif";
$color-white: #FFFFFF;
$color-black: #000000;
$color-hover: #002EFF;
$transition-duration: 250ms;

@mixin container {
  max-width: 1400px;
  margin: 0 auto;
}

@mixin transition($property: all) {
  transition: $property ease-in-out $transition-duration;
}

@mixin hoverTransition($color: $color-hover) {
  @include transition;

  &:hover {
    color: $color;
  }
}

body {
  font-family: $font-primary;
  color: $color-black;
}

header {
  background-image: url("../../img/wall.jpg");
  background-size: cover;
  color: $color-white;
}

.header__wrapper {
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include container;
}

.nav {
  &__top {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }

  &__menu,
  &__contact,
  &__logo {
    display: flex;
  }

  &__link {
    color: $color-white;
    @include hoverTransition;

    &--vertical-line {
      border-left: 1px solid $color-white;
      padding-left: 1rem;
      margin-left: 1rem;
    }
  }

  &__logo {
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    &-img {
      width: 40px;
      height: 40px;
    }

    &-text {}
  }

  &__diver {
    height: 4px;
    border: none;
    background-color: #fff;
  }
}

.header__slogan {
  padding: 2rem;
  max-width: 600px;
  font-size: 42px;
  font-weight: 600;
  line-height: 48px;
}

main {
  @include container;
}


.studio-block {
  padding: 2rem;

  &__cta-links {
    margin-bottom: 2rem;

    a {
      color: $color-black;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      @include hoverTransition;

      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__divider {
    background-color: $color-black;
    height: 4px;
    border: none;
  }

  &__wrapper {
    display: flex;

    article {
      min-height: 36rem;
    }
  }
}

.studio-info {
  padding: 2rem 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;

  &__title {
    max-width: 22rem;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  &__link {
    color: $color-hover;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    @include hoverTransition($color-black);
  }

  &__image {
    align-self: end;
    width: 8rem;

    &:hover {
      -webkit-animation: horizontal-shaking $transition-duration;
      -o-animation: horizontal-shaking $transition-duration;
      animation: horizontal-shaking $transition-duration;
    }
  }
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}

.services {
  padding: 2rem 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;

  &--vertical-line {
    border-left: 1px solid $color-black;
  }

  &__list {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }

  &__item {
    @include transition;

    &:hover {
      transform: translateX(0.5rem);
    }
  }

  &__description {
    max-width: 30rem;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  &__cta-link {
    color: $color-hover;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    @include hoverTransition($color-black);
  }
}
