//Variables
$color-primary: #002EFF;
$color-secondary: #FFFFFF;
$color-tertiary: #000000;
$divider-color-primary: black;
$divider-color-secondary: white;
$divider-color-tertiary: #002EFF;

$font-primary: "Montserrat", "sans-serif";
$font-weight-light: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$footer-gap: 1rem;
$footer-border-style: 2px solid $color-tertiary;

$transition-ease: 250ms ease-in-out;
