@import "../utilities/variables";
@import "../utilities/mixins";

// Header Styles

// Header Wrapper
.header__wrapper {
  height: 100vh;
  max-height: 1000px;
  @include flexColumnSpaceB;

  @include container;

  @media (max-width: $screen-sm) {
    max-height: 600px;
  }
}

// Navigation Styles
.nav {
  &__top {
    padding: $padding;

    @media (max-width: $screen-sm) {
      flex-direction: column;
      align-items: start;
      gap: $items-gap;
    }
  }

  &__top, &__menu, &__contact, &__logo {
    @include flexSpaceB;

    @media (max-width: $screen-xsm) {
      justify-content: initial;
    }
  }

  &__link {
    color: $color-secondary;
    @include hoverTransition;

    &--vertical-line {
      border-left: 1px solid $color-secondary;
      padding-left: 1rem;
      margin-left: 1rem;
    }
  }

  &__logo {
    justify-content: initial;
    align-items: center;
    gap: $items-gap;
    padding: $padding;

    &-img {
      width: 40px;
      height: 40px;
    }
  }

  &__divider {
    @include divider(4px, $divider-color-secondary);
  }
}

// Header Slogan Styles
.header__slogan {
  padding: $padding;
  max-width: 600px;
  @include boldText($font-size-huge);

  @media (max-width: $screen-xsm) {
    @include boldText($font-size-big);
  }
}

