@import "../utilities/variables";
@import "../utilities/mixins";

// Base Styles
body {
  font-family: $font-primary;
  color: $color-tertiary;
}

//Header styles
header {
  background-image: url("../../img/wall.jpg");
  background-size: cover;
  color: $color-secondary;
}

//Main styles
main {
  @include container;
}
